.works {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 50px;

    .titleWorks {
        font-size: 35px;
        color: orange;
        margin-bottom: 20px;
    }

    .workProjects {
        font-size: 45px;
        font-weight: 600;
        margin-bottom: 30px;
    }

    .manyBtns {
        @media (max-width: 800px) {
            grid-template-columns: 300px 300px;
        }
        @media (max-width: 650px) {
            grid-template-columns: 300px;
        }
        @media (max-width: 350px) {
            grid-template-columns: 250px;
        }
        display: grid;
        grid-template-columns: 300px 300px 300px;
        column-gap: 30px;
        row-gap: 40px;

        .dfbd12s {
            height: 400px;
        }

        .pro3 {
            height: 400px;
            width: 300px;
            border: 1px solid orange;
            border-radius: 20px;

            &:hover {
                border: 5px solid orange;
                transition: all ease-in 0.3s;
            }
        }

        .pppl {
            padding: 15px 0;
            font-size: 20px;
            text-align: center;
        }
    }
}

a {
    text-decoration: none;
}