.team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 100px;

    .dfdkb7098 {
        font-size: 35px;
        color: orange;
        margin-bottom: 30px;
    }

    .dcfvfhkj54785sdf {
        @media (max-width: 800px) {
            text-align: center;
        }
        font-size: 45px;
        font-weight: 600;
        margin-bottom: 50px;
    }

    .vhbdsmmnxc234 {
        @media (max-width: 800px) {
            grid-template-columns: 230px 230px;
            column-gap: 50px;
        }
        @media (max-width: 500px) {
            grid-template-columns: 230px;
        }
        display: grid;
        grid-template-columns: 230px 230px 230px 230px;
        column-gap: 10px;
        row-gap: 30px;

        .vhbfvj089cjhdb324 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .dfjdfkbhb23jkf90rkjewe2 {
                height: 300px;
                width: 200px;
                border-radius: 20px;
                margin-bottom: 50px;
            }

            .sadkn34jsdb23097kbcc {
                font-size: 20px;
                margin-bottom: 20px;
                color: orange;
            }

            .dsnfdhkbfhkbhjfbkfbh234bhvfdv {
                font-size: 18px;
                opacity: 0.8;
            }
        }
    }
}

a {
    text-decoration: none;
}