.mainone {
    @media (max-width: 800px) {
        padding: 0;
        margin: 0;
    }
    margin-top: 70px;
    display: flex;
    height: 90vh;
    justify-content: center;
    align-items: center;
    background-color: orange;

    .mainO {
        @media (max-width: 800px) {
            padding: 0;
        }
        flex: 0.5;
        padding-left: 10px;
        padding-right: 10px;
        font-family: Arial, Helvetica, sans-serif;

        .lkuugfhb {
            @media (max-width: 600px) {
                font-size: 30px;
            }
            font-size: 40px;
            font-weight: 600;
            margin-bottom: 30px;
        }

        .vcmnfbhj {
            @media (max-width: 600px) {
                font-size: 15px;
            }
            @media (max-width: 500px) {
                display: none;
            }
            font-size: 20px;
            margin-bottom: 30px;
            padding-right: 50px;
            opacity: 0.8;
        }

        .dfiybids {
            font-size: 25px;
            margin-bottom: 20px;
            font-weight: 400;
        }

        .fbgjldfhibrebjh {
            font-size: 18px;

        }
    }

    .mainoo {
        @media (max-width: 800px) {
            display: none;
        }
        flex: 0.5;

        .mainooooo {
            height: 500px;
            width: 700px;
        }
    }
}

a {
    text-decoration: none;
}