.footer {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.89);
    padding-top: 70px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 30px;
    border-top: 3px solid #4e8863;
    color: white;

    .frt {
        @media (max-width: 800px) {
            display: flex;
            flex-direction: column;
        }
        display: flex;
        margin-bottom: 50px;
        
        .frt1 {
            @media (max-width: 800px) {
                margin-bottom: 30px;
            }
            flex: 1;

            .qwer {
                margin-bottom: 10px;
                font-size: 50px;
                font-weight: 600;
                color: #4e8863;
            }

            .zxcdsd {
                font-size: 18px;
                padding-right: 15px;
            }

            .numbers {
                display: flex;
                margin-top: 10px;
                padding: 5px;

                .inner {
                    font-size: 18px;
                }
            }

            .te {
                font-size: 35px;
                text-align: center;
                margin-top: 8px;
                margin-bottom: 20px;
                opacity: 0.8;
            }

            .tees {
                text-align: center;
                margin-bottom: 15px;
                opacity: 0.8;
            }

            .news {
                font-size: 35px;
                margin-top: 8px;
                margin-bottom: 20px;
                opacity: 0.8;
                font-weight: 550;
            }

            .subscri {
                margin-top: 10px;
                margin-bottom: 25px;
                font-size: 20px;
            }

            .lowwset {
                display: flex;

                .input1 {
                    height: 40px;
                    width: 230px;
                    padding-left: 5px;
                    border-top: 2px solid #4e8863;
                    border-right: 1px solid transparent;
                    border-bottom: 2px solid #4e8863;
                    border-left: 2px solid #4e8863;
                }

                .btnSet {
                    height: 44px;
                    width: 80px;
                    color: white;
                    background-color: #4e8863;
                    border-top: 2px solid #4e8863;
                    border-left: 1px solid transparent;
                    border-bottom: 2px solid #4e8863;
                    border-right: 2px solid #4e8863;

                    &:hover {
                        opacity: 0.5;
                        cursor: pointer;
                    }

                    &:active {
                        opacity: 0.8;
                    }

                }

                .socalBtn {
                    margin-top: 15px;
                    margin-right: 10px;
                    height: 50px;
                    width: 50px;
                    border: none;
                    background: transparent;

                    &:hover {
                        opacity: 0.5;
                        cursor: pointer;
                    }

                    &:active {
                        opacity: 0.8;
                    }

                    .sos {
                        border-radius: 50px;
                        height: 50px;
                        width: 50px;
                    }

                    .soss {
                        border-radius: 50px;
                        height: 45px;
                        width: 45px;
                    }
                }
            }
        }
    }

    .low {
        border-top: 3px solid #4e8863;
        padding-top: 30px;

        .loxw {
            font-size: 18px;
            opacity: 0.8;
            text-align: center;


        }
    }
}

a {
    text-decoration: none;
}